{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
    <h1>TABLE TENNIS TOURNAMENT!</h1>
    <h2>Welcome to the Match Management System</h2>
    <h3><em>A web application developed by Segun Victor JAMES</em></h3>
    </div>
    <br>    
    <br>
    <br>    
    <br>
    <br>    
    <br>
    <br>    
    <br>
    <ul>
    <div>
        <li><a href="/player">Create a new player</a></li>
        <li><a href="/matches">Create a new match</a></li>
        <li><a href="/score_view">Add score to a match</a></li>
        <li><a href="/match_details">Get match details</a></li>
        <li><a href="/exit">Exit</a></li>
    </div>
    </ul>
    <br>    
    <br>
    <br>    
    <br>
    <br>    
    <br>
    <br>    
    <br>
  
<footer>
    <p>&copy; 2024 University of Ibadan Table Tennis Tournament by Jimsvic Technology Limited. All rights reserved.</p>
</footer>
<br>
<br>
<br>
{% endblock %}