<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}UNIVERSITY OF IBADAN TABLE TENNIS TOURNAMENT{% endblock %}</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  
  <header class="header">
    <img src="../static/downloadUI.jpg" alt="Your Logo" class="logo">
    <h1>UNIVERSITY OF IBADAN TABLE TENNIS TOURNAMENT</h1>
    <nav id="top-nav">
      <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item"><a class="nav-link link-light" href="/">HOME</a>
          </li>
          <li class="nav-item"><a class="nav-link link-light" href="/matches">MATCHES</a>
          </li>
          <li class="nav-item"><a class="nav-link link-light" href="/player">PLAYERS</a>
          </li>
          <li class="nav-item"><a class="nav-link link-light" href="/contact">CONTACT US</a>
          </li>
        </ul>
        <ul class="nav auth-nav">
            <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a>
            </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 University of Ibadan Table Tennis Tournament by Jimsvic Technology Limited. All rights reserved.</p>
    </div>
  </footer>
  <script src="../static/scripts.js"></script>
</body>
</html>