{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome to University of Ibadan Table Tennis Tournament </h2>
<h>Join us for an exciting event filled with thrilling matches and top-notch players!</h>
<section class="slideshow">
  <div class="slides">
    <img src="../static/tennis1.jpg" alt="Slide 1">
    <img src="../static/tennis2.jpeg" alt="Slide 2">
    <img src="../static/tennis3.jpg" alt="Slide 3">
  <img src="../static/tennis4.jpg.jpg" alt="Slide 4">
  <img src="../static/tennis5.jpg.jpg" alt="Slide 5">
  <img src="../static/tennis6.jpg.jpg" alt="Slide 6">
  <img src="../static/sport.GIF.gif" alt="Slide 7">
  <img src="../static/tennis7.jpg.jpg" alt="Slide 8">
  <img src="../static/tennis8.jpg.jpg" alt="Slide 9">
  <img src="../static/tennis.PNG.png" alt="Slide 4"> 
</div>
</section>

<!-- New slide Section -->
<section class="home">
  <div class="container">
    <div class="home-item">
      <h5>the Table Tennis Tournaments testing session</h5>
      <img src="../static/tennis1.jpg" alt="tennis1">
    </div>
  </div>
    <section class="hero">
        <div class=" container">
        <h1>DEAR COMPETITORS,</h1>
        <P>
        Congratulations on reaching this stage of the competition! Your dedication, hard work, and relentless pursuit of excellence have brought you here, and for that, you should be immensely proud.
        
        At BoltFoundry, we believe that every challenge is an opportunity for growth. Remember, the journey you undertake is just as important as the destination. Each step you take, every obstacle you overcome, shapes you into a stronger, more resilient individual.
        
        As you prepare for the next phase, keep in mind the core values that drive success: perseverance, innovation, and a positive mindset. Embrace the challenges ahead with confidence, knowing that you have the skills and determination to excel.
        
        We're rooting for you every step of the way. Show the world what you're made of, and let your passion and talent shine through. You have the potential to achieve greatness, and we can't wait to see all that you will accomplish.
        
        Best of luck!
        
        Warm regards,
        </P>
  
        <h>Segun Victor JAMES:</h><br>
        <h>Founder of JIMSVIC TECHNOLOGIES LTD.</h>
      
        </div>
      </section>

 <!-- New Image Section -->
 <section class="new-image">
    <div class="image-container">
      <div class="image-item">
        <h5>the Table Tennis Tournaments testing session</h5>
        <img src="../static/tennis1.jpg" alt="tennis1">
      </div>
      <div class="image-item">
        <h5>the 2023 University of Ibadan demonstration College Table Tennis Tournaments</h5>
        <img src="../static/tennis2.jpeg" alt="tennis2">
      </div>
      <div class="image-item">
        <h5>the 2023 University of Ibadan demonstration College Table Tennis Tournaments Gifts and Awards</h5>
        <img src="../static/tennis3.jpg" alt="tennis">
      </div>
      <div class="image-item">
        <h5>the 2023 University of Ibadan Table Tennis Tournaments Venue</h5>
        <img src="../static/sport.GIF.gif" alt="sport">
      </div>
    </div>
  </section>

      <h2>The Table Tennis Match Management System</h2>
      <h3><em>A web application developed by Segun Victor JAMES</em></h3>
  {% endblock %}